{% extends 'index.html' %}
{% block body %}    
  <form action="" class="w-25 m-auto mt-5 p-3 mb-5 bg-body-secondary" style="border: 5px solid gray; border-radius: 10px;" method="POST">
    {% csrf_token %}
    <label class="label-control">Username: </label>
    <input type="text" name="username" class="form-control">
    <label class="label-control">Password: </label>
    <input type="password" name="userpass" class="form-control">
    <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-3">Login</button>
    </div>
  </form>
{% endblock body %}